.conference-canvas {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    position: relative;

    canvas {
        width: 100%;
        height: 100%;
    }

    .info {
        position: absolute;
        top: 5px;
        left: 5px;
    }
}